/* TITLE SCREEN FADE */
.title-screen {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #050505;

    transition: opacity 2s ease;
    z-index: 10;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* CLICK TO START */
.click-start {
    margin-top: 3rem;

    font-size: 0.9rem;
    letter-spacing: 0.3em;

    color: #666;

    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}

.intro-screen {
    position: absolute;
    inset: 0;

    background:
        radial-gradient(circle at center,
        #111111 0%,
        #050505 70%,
        #000000 100%);

    opacity: 0;

    transition: opacity 2s ease;
}

.intro-screen.show {
    opacity: 1;
}
/* RPG TEXTBOX */
.textbox {
    position: absolute;

    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);

    width: 85%;
    max-width: 1000px;

    padding: 24px 32px;

    background: rgba(8, 8, 8, 0.92);

    border: 1px solid rgba(255,255,255,0.08);

    box-shadow:
        0 0 30px rgba(0,0,0,0.7),
        inset 0 0 20px rgba(255,255,255,0.02);

    backdrop-filter: blur(3px);

    opacity: 0;

    transition: opacity 2s ease;
}

.textbox.show {
    opacity: 1;
}

/* DIALOGUE TEXT */
#dialogue {
    margin: 0;

    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    line-height: 1.6;

    color: #e5e5e5;

    letter-spacing: 0.03em;
}
/* NEXT ARROW */
.next-indicator {
    position: absolute;

    right: 24px;
    bottom: 16px;

    font-size: 1.2rem;

    color: #bbbbbb;

    opacity: 0;

    transition: opacity 0.3s ease;

    animation: bounce 1s infinite;
}

.next-indicator.show {
    opacity: 1;
}

/* BOUNCE ANIMATION */
@keyframes bounce {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0);
    }
}